body {
    text-align: right;
    font-family: 'Cairo', sans-serif;
}
a {
  text-decoration: none !important;
}
.nav-link {
    transition: all 500ms
}

a {
    transition: all 500ms
}

a:hover {
    color:#E0C69C !important;
}

.navbar-toggler {
    color: white !important;
    text-align: right;
}

.navbar-toggler:focus {
   box-shadow: none;
   color:  #E0C69C;
}

#pageTitle:hover {
  color: white !important;
}


.mainPic {
    object-fit: cover;
    object-position:center 25%;
    height:100vh;
    filter: grayscale(100%);
}


@media only screen and (max-width: 726px) {
    .mainPic {
        object-fit: contain;
        object-position:top;
        height:auto;
    }

    .picContainer {
        width: 100%;
        height:auto;
    }
    #col1, #col2, #col3 {
        transform: translateX(-100vw);
     }

    #background {
        background-position: center;
    }

    #homePageVideo {
        height: 300px;
    }

    #form {
        height: 71vh;
    }
  }

.picContainer {
    z-index: 1;
    top:136px
}

#firstNav {
	z-index: 2;
    height: 80px;
}

#firstNav h1 {
    color: #97CE82;
}

#secondNav {
    z-index: 2;
    top:80px;
    background-color: #97CE82;
}

#secondNav a {
    color: white;
}

.portion1 {
    top:136px;
}

.dummy {
    margin: 100%;
  }
  
  .element {
    border:30px solid #A0D38C;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #element1 {
    background-image: url("./circle3.jpg");
    background-position: 50% 0%;
  }

  #element2 {
    background-image: url("./circle2.jpg");
    background-position: 50% 0%;
  }

  #element3 {
    background-image: url("./circle1.jpg");
    background-position: 50% 0%;
  }

 .aim {
     color: #97CE82 ;
 }

 .test {
    max-width: 100%;
 }

 @media only screen and (min-width: 727px) {
    #col1 {
        transform: translateX(-25vw);
     }
     #col2 {
        transform: translateX(-60vw); 
     }
     #col3 {
        transform: translateX(-100vw);
     }

     #homePageVideo {
        height: 400px;
    }
 }

 .portion1 button, #cards button, #form button {
     width: 200px;
     padding: 12px 0 12px 0;
     border-color: #A0D38C;
     border-radius: 0;
     font-size: 18px;
     transition: all 500ms;
     
 }

 .portion1 button:hover, #form button:hover {
     background-color: #A0D38C;;
    color: white;
 }

 .portion1 button:focus,
 .portion1 button:active,
 #cards button:focus,
 #cards button:active,
 #form button:focus,
 #form button:active
  {
    outline: none;
    box-shadow: none;
 }

 #background {
     background-image: url("./background.jpg");
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     height: 300px;
     background-position: center;
     top:136px;
     border-top: 30px solid #A0D38C ;
     border-bottom: 30px solid #A0D38C ;
 }

 #cards {
     top : 136px;
 }

 #cards p {
     font-size: 20px;
 }

 .card-header {
     background-color: #E96D64;
     color: white;
 }

 #cards button:hover {
     background-color: #E96D64;
     color: white;
 }

 #cards button {
    border-color:  #E96D64;
 }

 .card {
     opacity: 0;
 }

 #video {
     top:136px;
     border-bottom: 5px solid #A0D38C;
 }

 #videoBackground {
     top:50%;
     bottom:-25%;
     left:0;
     right:0;
     background-color: #A0D38C;
 }

 #carousel {
     top: 136px;
     background-image:url("./background2.jpg");
     background-size: cover;
	 background-position: center;
     background-attachment: fixed;
     z-index: 1;
 }

 .carousel-text {
    background-color: #A0D38C;
    padding: 20%;
    font-size: 20px;
 }

 #carousel img {
    width: 200px;
	height: 150px;
	border-radius: 100%;
	display: inline-block;
	position: relative;
	top: -75px;
 }

 #footer {
     height: 74px;
     top:136px;
     width: 100%;
     background-color: #E96D64;
     color: white;
     z-index: 2;
 }

 #articles {
   min-height: 100vh;
     top : 136px;
 }

 #article {
    border-bottom: 2px solid #A0D38C;
 }

 #article h3 {
  cursor: pointer;
  color: #E96D64;
 }

 #form {
     top:136px;
     min-height: 100vh;
 }

 #login {
  width: 360px;
	height: auto;
	position: relative;
	top: 150px;
	margin:auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding: 45px;
	background-color: white;
 }

 #admin {
     height: 80vh;
 }

 /* Loading styles */
 .lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #E96D64;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #E96D64;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
 /* end of loading styles */

 #superAdmin {
   min-height: 100vh;
   top: 136px;
 }

 #loading {
   top:0;
   left:0;
   bottom:0;
   right:0;
 }

 #articleDetails {
   top:136px;
   min-height: 100vh;
 }

 #articleDetails h2 {
  color: #E96D64;
 }

 #articleDetails h5 {
   cursor: pointer;
   color: #E96D64;
   border-bottom: 1px solid #A0D38C;
 }

 #edit {
   background-color: #97CE82;
   border: none;
 }

 #delete {
  background-color: #E96D64;
  border: none;
 }

 #admin {
   top: 136px;
   min-height: 100vh;
   height: auto;
 }

 #enterEmail {
  top: 136px;
  min-height: 80vh;
 }

 #emailInput {
  width: 360px;
	height: auto;
	margin:auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-color: white;
 }

 #secretWord {
  width: 360px;
 }

 .editVideo {
   min-height: 80vh;
 }

 #player-wrapper {
  position: relative;
  padding-top: 56.25%
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}